@import "tailwindcss";

@theme inline {
  --color-primary: #030303;
  --color-secondary: #9e7148;
  --color-trirdary: #fefefe;
}
@keyframes textGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.text-gradient-animate {
  background: linear-gradient(
    270deg,
    var(--color-secondary),
    #d1b281,
    #b48d51,
    var(--color-trirdary)
  );
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textGradient 3s linear infinite;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.bg-polygon {
  background-image: url("/polygon-scatter-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.text-outline {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.bg-bar {
  position: relative;
  background-image: url("/bar-caffe.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.bg-bar::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8); /* transparansi */
  z-index: 0;
}

.bg-bar > * {
  position: relative;
  z-index: 1;
}
.text-stroke {
  text-shadow: -1px -1px 0 #9e7148, 1px -1px 0 #9e7148, -1px 1px 0 #9e7148,
    1px 1px 0 #9e7148;
}
